{% macro table(one=0, two=0) %}
    {% set reassessed = 1000 - (one) - (two) %}
    
    <div class='boxes'>

    {% for box in range(0, reassessed|int) %}
        <span class='box'></span>
    {% endfor %}

    {% for box in range(0, one|int) %}
        <span class='box box--one'></span>
    {% endfor %}

    {% for box in range(0, two|int) %}
        <span class='box box--two'></span>
    {% endfor %}
    </div>
{% endmacro  %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ hed }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://pym.nprapps.org/pym.v1.min.js"></script>
    <script>
    function startUpPym(){
        var pymChild = new pym.Child({});
        pymChild.sendHeight();
        pymChild.sendMessage('childLoaded');
    }
    // Listen for the loaded event then run the pym stuff.
    window.addEventListener('load', function() {  startUpPym(); }, false);
</script>
</head>
<body>
    <article>
        <section class='intro river'>
            {% if hed %}<h1 class='hed'>{{ hed|process_text}}</h1>{% endif %}
            {% if intro %}{{ intro|markdown}}{% endif %}
        </section>
        <section class='charts'>
        <p class='leadin'>{{ tables_label }}</p>
      {#   <dl class='legend'>
            <dt><span class='legend__none'></span></dt>
            <dd>{{ legend_none }}</dd>
            <dt><span class='legend__one'></span></dt>
            <dd>{{ legend_one }}</dd>
            <dt><span class='legend__two'></span></dt>
            <dd>{{ legend_two }}</dd>
        </dl> #}
        <div class='tables'>
            <div class='table table--houlihan'>
                <figure class='table__mug'>
                    <img src='img/houlihan.jpg' alt="Former Cook County Assessor James Houlihan"/>
                    <figcaption>{{ houlihan_mug_caption }}</figcaption>
                </figure>
                {{ table(houlihan_one_integer, houlihan_two_integer) }}

                <p class='table__readout'>{{ houlihan_readout|process_text }}</p>

            </div>
            <div class='table table--berrios'>
                <figure class='table__mug'>
                    <img src='img/berrios.jpg' alt="Cook County Assessor Chris Berrios"/>
                    <figcaption>{{ berrios_mug_caption }}</figcaption>
                </figure>
                {{ table(berrios_one_integer,berrios_two_integer) }}
                <p class='table__readout'>{{ berrios_readout|process_text }}</p>

            </div>
        </div>
        </section>
        <section class='credits river'>
            {% if note %}{{ note|markdown }}{% endif %}
            {{ sources|markdown }}
        </section>
    </article>
</body>
</html>